:root {
  /* ----==== FONT ====---- */
  --font-family: sans-serif;
  --font-size: 1rem;
  --font-weight-400: 400;

  /* ----==== SPACING ====---- */
  --padding-section-container: 10px 5vw;
  --padding-main-section: 10vh 5vw;
  --margin-container: 0 0;
  --gap-10px: 10px;

  /* ----==== COLOR PALLET ====---- */
  --primary-color: #ff5100f3;
  --secondary-color: #191919;
  --other-color-black: #000;
  --other-color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  background-color: var(--secondary-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  width: 100%;
  background-color: var(--primary-color);
  border-style: none;
  padding: 5px;
}

.hide {
  display: none;
  visibility: hidden;
}

/* ----- GLOBAL ----- */

.logo {
  background-image: url('./assets/magic_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 71px;
  width: 138px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-section-container);
  align-items: center;
}

/* ----- HEADER ----- */

header ul {
  display: flex;
  gap: var(--gap-10px);
}

/* ----- MAIN ----- */

main {
  padding: var(--padding-main-section);
  background-image: url('./assets/bg_magic.jpg');
  height: 100%;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-10px);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-10px);
  width: min-content;
}

.card-image {
  background-color: var(--other-color-white);
  height: 204px;
  width: 146px;
}

.card-info {
  display: flex;
  gap: var(--gap-10px);
  justify-content: space-between;
  width: 100%;
}

.card-title {
  width: 100%;
}

/* ----- POPUP ----- */

.popUp {
  display: flex;
  gap: var(--gap-10px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vh 25vw;
  background-color: #191919ea;
  width: 100%;
  height: 100%;
}

.button-close {
  color: red;
  font-size: 5vw;
  cursor: pointer;
}

.card-image-popUp {
  width: 40vw;
  height: 56vw;
}

.card-info-popUp{
  flex-wrap: wrap;
}

/* ----- MOBILE ----- */

@media (max-width: 353px) {
  .cards {
    justify-content: center;
  }
}
