@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap');

:root {
  /* ----==== FONT ====---- */
  --font-family: 'Cinzel', serif;
  --font-size: 1rem;
  --font-weight-400: 400;

  /* ----==== SPACING ====---- */
  --padding-section-container: 10px 5vw;
  --padding-main-section: 10vh 5vw;
  --margin-container: 0 0;
  --gap-10px: 10px;
  --gap-5vh: 5vh;

  /* ----==== COLOR PALLET ====---- */
  --primary-color: #ff5100f3;
  --secondary-color: #191919;
  --other-color-black: #000;
  --other-color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}

:root ::-webkit-scrollbar {
  width: 13px;
}

/* Track */
:root ::-webkit-scrollbar-track {
  background: var(--secundary-color);
}

/* Handle */
:root ::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  background-color: var(--secondary-color);
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

a:hover {
  color: var(--primary-color);
}

li {
  list-style: none;
}

button {
  font-family: var(--font-family);
  cursor: pointer;
  width: 100%;
  background-color: var(--primary-color);
  border-style: none;
  border: 1px solid var(--primary-color);
  padding: 5px;
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: var(--other-color-white);
  color: var(--primary-color);
}

.hide {
  display: none;
  visibility: hidden;
}

.overFlowHidden {
  overflow-y: hidden;
}

/* ----- GLOBAL ----- */

.logo {
  background-image: url('./assets/magic_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 71px;
  width: 138px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-section-container);
  align-items: center;
}

/* ----- HEADER ----- */

header ul {
  display: flex;
  gap: var(--gap-10px);
}

/* ----- MAIN ----- */

main {
  padding: var(--padding-main-section);
  background-image: url('./assets/bg_magic.jpg');
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--gap-5vh);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-10px);
  width: min-content;
  background-color: #212121;
  padding: 10px;
  border-radius: 7px;
}

.card-image {
  background-color: var(--other-color-white);
  height: 246px;
  width: 177px;
  background-size: cover;
  border-radius: 9px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.card-image:hover {
  transform: scale(1.07);
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

.card-title {
  width: 100%;
  font-size: 14px;
}

input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  background-color: #bbb;
  width: 35px;
  height: 25px;
  clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
  transition: all 250ms ease-in-out;
  transform: scale(0.68);
}

input[type='checkbox']:hover {
  background-color: #ffb9b9;
  transform: scale(0.8);
}

input[type='checkbox']:checked {
  background-color: #f00;
}

.more {
  margin: auto;
  margin-top: 90px;
  font-size: 22px;
}

/* ----- POPUP ----- */

.popUp {
  display: flex;
  gap: var(--gap-10px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vh 10vw;
  background-color: #191919ea;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.button-close {
  position: absolute;
  right: 5vw;
  top: 5vw;
  color: red;
  font-size: 5vw;
  cursor: pointer;
}

.card-popUp {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-image-popUp {
  width: 40vw;
  height: 56vw;
  border-radius: 22px;
}

.cardDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10px);
  flex-wrap: wrap;
  width: 100%;
}

.card-popUp .card-title {
  display: flex;
  justify-content: center;
}

.card-info-popUp {
  flex-wrap: wrap;
  width: 35vw;
}

.card-oracle-text {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10px);
  padding: 10px 0;
}

.commentsTitleContainer {
  display: flex;
  gap: var(--gap-10px);
  align-self: center;
  align-items: center;
}

.commentContainer {
  display: flex;
  gap: var(--gap-10px);
}

.addCommentForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10px);
  align-items: center;
  padding-bottom: 30px;
}

.addCommentForm input {
  padding: 5px;
  width: 100%;
}

/* ----- MOBILE ----- */

@media (max-width: 514px) {
  .cards {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .card-popUp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-info-popUp {
    width: 80vw;
  }
}
